*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper{

    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 154, 193);


}

#box{

    width: 200px;
    height: 200px;
    background-color: rgb(236, 218, 20);
    border-radius: 50%;
    position: absolute;
    top: 400px;
    left: 0;
    animation: mShape 5s linear infinite alternate backwards;
    margin: 20px;
}


@keyframes mShape {

    0%{
        top: 400px;
        left: 0;
    }

    25%{

        top: 0;
        left: 300px;
    }
    50%{

        top: 400px;
        left: 600px;
    }

    75%{

        top: 0;
        left: 900px;
    }
    100%{

        top: 400px;
        left: 1200px;
    }
}