* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {


    background-color: #eca01e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.white {

    width: 150px;
    height: 150px;
    background-color: #a8a8a8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.black {

    width: 150px;
    height: 150px;
    background-color: #878787;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Board {

    width: 1200px;
    display: flex;
    flex-wrap: wrap;

}

.piece {

    background-position: center;
    background-size: cover;
    font-size: 4.8em;
    cursor: pointer;


}

.W {

    color: #fff;
}

.B {

    color: #000;
}